{
	admin :2019 {

	}
	metrics {
		per_host
	}
}

emby.{$PUBLIC_DOMAIN} {
	reverse_proxy http://emby:8096
}

calibre.{$PUBLIC_DOMAIN} {
	handle /kobo/* {
		reverse_proxy http://calibre-web-app:8083
	}
	respond 404
}

static.{$PUBLIC_DOMAIN} {
	header X-Robots-Tag "noindex, nofollow"
	handle /robots.txt {
		respond "User-agent: *\nDisallow: /" 200
	}
	root * /static
	file_server
}

# hoppscotch.{$PUBLIC_DOMAIN} {
# 	reverse_proxy http://hoppscotch:3170
# }

files.{$PUBLIC_DOMAIN} {
	header X-Robots-Tag "noindex, nofollow"
	handle /robots.txt {
		respond "User-agent: *\nDisallow: /" 200
	}
	root * /files
	file_server
}

n8n.{$PUBLIC_DOMAIN} {
	handle /webhook/* {
		reverse_proxy http://n8n-nginx:8081
	}
	handle /webhook-test/* {
		reverse_proxy http://n8n-nginx:8081
	}
	respond 404
}

:443, :80 {
	respond "" 204
}