{
	admin :2019 {

	}
	metrics {
		per_host
	}
}

emby.{env.PUBLIC_DOMAIN} {
	reverse_proxy http://emby:8096
}

calibre.{env.PUBLIC_DOMAIN} {
	handle /kobo/* {
		reverse_proxy http://calibre-web-app:8083
	}
	respond 404
}

static.{env.PUBLIC_DOMAIN} {
    root * /static
    file_server
}

# hoppscotch.{env.PUBLIC_DOMAIN} {
# 	reverse_proxy http://hoppscotch:3170
# }

:443, :80 {
	respond "" 204
}